body {
    background-color: #26292e;
}

h1 {
    font-size: 75px;
    font-weight: bold;
    text-align: center;
    color: #47ff8b;
}

.title { 
    background-color: #26292e;
    background-image: linear-gradient(45deg, 
        pink, blue);
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

h3 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: purple;
}

article {
    color: white;
    text-indent: 5em;
    margin: 0 7%;
    font-size: 30px;
    line-height: 20pt;
}

.mainPic {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

#hitori-heroine {
    height: 250px;
    width: auto;
}

#hitori-gossip-img {
    height: 200px;
    width: auto;
}

#hitori-honest-img {
    height: 150px;
    width: auto;
}

