body {
    background-color: #26292e;
}

h1 {
    font-size: 75px;
    font-weight: bold;
    text-align: center;
}

.title { 
    background-color: #26292e;
    background-image: linear-gradient(45deg,
    #ffc069 38.143%,
    #c62afa 38.143%,
    #c62afa 43.286%,
    #ff1f1f 43.286%,
    #ff1f1f 48.429%,
    #ff63cb 48.429%,
    #ff63cb 53.572%,
    rgba(255, 255, 255, 0.5) 53.572%,
    rgba(255, 255, 255, 0.5) 58.715%,
    #9c6e5c 58.715%,
    #9c6e5c 63.858%,
    #ffbaf2 63.858%,
    #ffbaf2 80%);
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

h3 {
    font-size: 50px;
    text-align: center;
}

article {
    color: white;
    text-indent: 2em;
    margin: 0 7%;
    font-size: 30px;
    line-height: 27pt;
}

hr {
    width: 50%;
}

.grid-figure {
    display: grid;
    justify-content: center;
}
.mainPic {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.hitori-text {
    color: #ffc069;
}

#hitori-heroine {
    height: 500px;
    width: auto;
}

#hitori-gossip {
    grid-template-columns: auto auto;
}

#hitori-gossip-img {
    height: 500px;
    width: auto;
}

#hitori-honest-img {
    height: 550px;
    width: auto;
}

.hitori-comments {
    font-size: 30px;
}

.hotaru-text {
    color: #c62afa;
}

#hotaru-give{
    height: 500px;
    width: auto;
}

#hotaru-mood-img {
    height: 450px;
    width: auto;
}

#hotaru-dirty-img {
    height: 550px;
    width: auto;
}

#hotaru-preg-img {
    height: 400px;
    width: auto;
}

.asuka-text {
    color: #ff1f1f;
}

.lucy-text {
    color: #ff63cb;
}

.qingling-text {
    color: rgba(255, 255, 255, 0.5);
}

#qingling-huh {
    height: 450px;
    width: auto;
}

#qingling-delic-img {
    height: 450px;
    width: auto;
}

#qingling-can-img {
    height: 90%;
    width: auto;
}

.lain-text {
    color: #9c6e5c;
}

.sato-text {
    color: #ffbaf2;
}
#sato-minor {
    height: 500px;
    width: auto;
}

#sato-gomf-img {
    height: 450px;
    width: auto;
}

#sato-shiver-img {
    height: 600px;
    width: auto;
}


