body {
    background-color: #26292e;
}

h1 {
    font-size: 75px;
    font-weight: bold;
    text-align: center;
}

.title { 
    background-color: #26292e;
    background-image: linear-gradient(45deg,
    #ffc069 38.143%,
    #c62afa 38.143%,
    #c62afa 43.286%,
    #ff1f1f 43.286%,
    #ff1f1f 48.429%,
    #ff63cb 48.429%,
    #ff63cb 53.572%,
    rgba(255, 255, 255, 0.5) 53.572%,
    rgba(255, 255, 255, 0.5) 58.715%,
    #9c6e5c 58.715%,
    #9c6e5c 63.858%,
    #ffbaf2 63.858%,
    #ffbaf2 80%);
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

h3 {
    font-size: 50px;
    text-align: center;
}

.caption {
    font-size: 40px;
    margin: auto;
}

.caption-img {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

article {
    color: white;
    text-indent: 2em;
    margin: 0 7%;
    font-size: 30px;
    line-height: 27pt;
}

hr {
    width: 50%;
}

.spoiler-legend {
    color: #ad0000;
    font-size: 42px;
}

.spoiler-text {
    color: #ad0000;
    font-size: 35px;
}

.spoiler-field {
    border-color: black;
    border-style: solid;
}

#romance-chart-img {
    margin: 20px auto 20px auto;
}

.grid-figure {
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: 20px 0px 20px 0px;
}

.mainPic {
    display: block;
    margin: 0 auto 10px auto;
    max-width: 100%;
}

.hitori-text {
    color: #ffc069;
}

#hitori-heroine {
    height: 500px;
    width: auto;
}

#hitori-gossip {
    grid-template-columns: 40% 15%;
}

#hitori-gossip-img {
    height: 500px;
    width: auto;
}

#hitori-honest {
    grid-template-columns: 25% 45%;
}

#hitori-honest-img {
    height: 550px;
    width: auto;
}

#hitori-ruined {
    grid-template-columns: 50% 15%;
}

.hotaru-text {
    color: #c62afa;
}

#hotaru-give{
    height: 500px;
    width: auto;
}

#hotaru-mood {
    grid-template-columns: 55% 15%;
}

#hotaru-mood-img {
    height: 450px;
    width: auto;
}

#hotaru-dirty {
    grid-template-columns: 25% 35%;
}

#hotaru-dirty-img {
    height: 550px;
    width: auto;
}

#hotaru-preg {
    grid-template-columns: 40% 15%;
}

#hotaru-preg-img {
    height: 400px;
    width: auto;
}

.asuka-text {
    color: #ff1f1f;
}

#asuka-lie {
    grid-template-columns: 20% 40%;
}

#asuka-kill {
    grid-template-columns: 40% 15%;
}

.lucy-text {
    color: #ff63cb;
}

#lucy-liar {
    grid-template-columns: 42% 15%;
}

#lucy-gir {
    grid-template-columns: 25% 45%;
}

.qingling-text {
    color: rgba(255, 255, 255, 0.5);
}

#qingling-huh {
    height: 450px;
    width: auto;
}

#qingling-delic {
    grid-template-columns: 25% 40%;
}

#qingling-delic-img {
    height: 450px;
    width: auto;
}

#qingling-can-img {
    display: block;
    height: 90%;
    width: auto;
    margin: 20px auto 20px auto;
}

#qingling-can-cap {
    text-align: center;
}

.lain-text {
    color: #9c6e5c;
}

#lain-walking {
    grid-template-columns: 45% 15%;
}

#lain-stare {
    grid-template-columns: 25% 40%;
    grid-gap: 0px 25px;
}
.sato-text {
    color: #ffbaf2;
}
#sato-minor {
    height: 500px;
    width: auto;
}

#sato-gomf {
    grid-template-columns: 15% 45%;
}

#sato-gomf-img {
    height: 450px;
    width: auto;
}

#sato-shiver {
    grid-template-columns: 45% 15%;
}

#sato-shiver-img {
    height: 600px;
    width: auto;
}


